<html>
<head>
	<link rel="stylesheet" href="/../stylesheets/css/bootstrap.css">	
	<title><%=judul %></title>
	<style type="text/css">
    .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

		.judul{
			text-align: center;
			margin-top:3%;
		}

    body{
      background-color: #6c8ff1;
    }
    
	</style>
<link rel="stylesheet" href="/../stylesheets/css/bootstrap.css">  
   <script src="/../stylesheets/js/jquery.min.js"></script>
    <script src="/../stylesheets/js/bootstrap.min.js"></script>
    <script src="/../stylesheets/js/scripts.js"></script>

    <link href="/../stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/../stylesheets/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/../stylesheets/js/jquery-2.1.4.min.js"></script>
<script  type="text/javascript" src="/../stylesheets/js/typeahead.min.js"></script>

</head>
<body>	

<div class="container" style="margin-top:10%">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
          <h1>Halaman tidak ditemukan! <small><font face="Tahoma" color="red">Error 404</font></small></h1>
          <br />
          <p>Halaman yang kamu minta tidak dapat ditemukan atau tidak dapat dimuat. Coba gunakan tombol <b>Back</b> browser dan cobalah kembali mengakses halaman yang anda ingin tuju..</p>
          <p><b>atau silahkan pilih opsi di bawah ini :</b></p>
          <a href="/rememberme" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Beranda</a><span> <a href="http://www.facebook.com/zenhuzainii" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Hubungi Admin</a></span><span> <a href="/rememberme" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Login</a></span>
        </div>


</body>
</html>

