<div id="search">
    <button type="button" class="close">×</button>
    <form id="tf" name="tf" method="post" action="/rememberme/carifullteman">
        <input type="search" name="cariteman" id="cariteman" value="" placeholder="Temukan Temanmu!" />
        <button type="submit" class="btn btn-success">Temukan Sekarang!</button>
    </form>
</div>

<div id="searchd">
<button type="button" class="close">×</button>
    <form id="tf" name="tf" method="post" action="/rememberme/carifulldiary">
        <input type="search" name="caridiary" id="caridiary" value="" placeholder="Temukan Diarimu!" />
        <button type="submit" class="btn btn-success">Temukan Sekarang!</button>
    </form>
</div>