<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
      </tr>
    </thead>
    
    <tbody>
               <%  for(var i = 0;i < data.length-1;i++) { %>
      <tr>
        <td><%= data[i].ID_TEMAN %></td>
        <td><%= data[i].KOLHELP_CONTACT %></td>
      </tr>
       <% } %>
     
    </tbody>
  </table>