<div class="container">
<nav class=" nav navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color:#fff" class="navbar-brand" href="/rememberme/index">Remember Me</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/rememberme/lihatdiary">My Diary</a></li> 
                    <li><a href="/rememberme/lihatshareddiary">Shared Diary</a>
                    <li><a href="/rememberme/lihatshareddiarybyem">Shared By 'em</a>
                    <li><a href="/rememberme/lihatteman">My Friend</a></li>
                    <!--<li><a href="/rememberme/tambahteman">Add Friend</a></li> -->
                    <li><a href="#search">SearchTotal Friend</a></li>
                    <li><a href="#searchd">SearchTotal Diary</a></li>

                    </li>                   
                </ul>
                <div>               
                <ul class="nav navbar-nav navbar-right">       
                    <li><a href="/rememberme/me"><span class="glyphicon glyphicon-user"></span> <%= idnya %> | <%= usernamenya %></a></li>
                    <li><a  href="/rememberme">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>

</br>
    <div class="jumbotron" style="background-color:#99ccff ; " align="center">
            <a href="/rememberme/index"><img src="/../stylesheets/pics_login/logo.png" height="70px" width="400px"></a>
                <p>Memories fade but words hang around forever...</p>
    </div>

<!--
<nav class="nav navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color:#fff" class="navbar-brand" href="/rememberme/index">Remember Me</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a style="color:#fff" href="/rememberme/lihatdiary">Diary Ku</a></li> 
                    <li><a style="color:#fff" href="/rememberme/lihatdiary">Teman Ku</a></li>                   
                </ul>
                <div>               
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/me"><span class="glyphicon glyphicon-user"></span> My Account</a></li>      
                    <li><a style="color:#fff" href="/rememberme">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav> -->
