 <div class="navbar navbar-default nav-footer">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Remember Me ver. 1.0</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right  ">
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

        </div>
    </div>